# Build artifacts
*-build/
*.app
*.autosave
*.dSYM/
*.exe
*.exp
*.ilk
*.make
*.o
*.obj
*.pdb
*.pyc
*.pyo
*.so*
*.a
*.swo
*.swp
.qmake.stash
moc_predefs.h
Makefile

# IDE files
.cbproj*
.idea/
.pro.user*
.rcc/
.vscode/
CMakeCache.txt
CMakeFiles/
cmake_install.cmake
moc_*.cpp
qrc_*.cpp
ui_*.h

# Linux
.DS_Store

# Python
__pycache__/
*.egg-info/
*.pyc
*.pyo

# pyprofex generated data files
*.pkl
*.json
*.mtb
*.mtu
*.mtn
*.mti
*.mqs
*.mqn
*.sq
*.db3
*.zip
cif_cache/
build_logs/
COD/
